:root {
  --offset: 26px
}

[data-theme="light"]{
  --background-color: #ffffff;
  --background-start-color: #ffffff;
  --section-background: #1E1F25;
  --selected-background: #282C38;

  --primary-text-color: #000000;
  --secondary-text-color: #D7D7DA;

  --primary-button-color: #246CF9;
  --primary-hover-button-color: #185DE2;
  --primary-active-button-color: #0949C6;
} 

[data-theme="dark"]{
  --background-color: #141518;
  --background-start-color: #1D1F25;
  --section-background: #1E1F25;
  --selected-background: #282C38;

  --primary-text-color: #ffffff;
  --secondary-text-color: #D7D7DA;

  --primary-button-color: #246CF9;
  --primary-hover-button-color: #185DE2;
  --primary-active-button-color: #0949C6;
} 

*{
  box-sizing: border-box;
}

.primary-text-color{
  color: var(--primary-text-color);
}
.secondary-text-color{
  color: var(--secondary-text-color);
}
.container{
  max-width: 1440px;
  margin: auto;
}
.border-radius{
  border-radius: 20px;
}