:root {
}

[data-theme="light"]{
  --background-color: #ffffff;
  --background-start-color: #ffffff;
  --primary-text-color: #000000;
} 

[data-theme="dark"]{
  --background-color: #141518;
  --background-start-color: #1D1F25;
  --primary-text-color: #ffffff;
} 

*{
  box-sizing: border-box;
}

.primary-text-color{
  color: var(--primary-text-color);
}
.container{
  max-width: 1440px;
  margin: auto;
}