:root {
}

[data-theme="light"]{
  --background-color: #ffffff;
  --background-start-color: #ffffff;
  --primary-text-color: #000000;
} 

[data-theme="dark"]{
  --background-color: #141518;
  --background-start-color: #1D1F25;
  --primary-text-color: #ffffff;
} 

@font-face {
  font-family: 'Gilroy';
  src: local('@/assets/fonts/Gilroy Medium'), local('@/assets/fonts/Gilroy-Medium'),
      url('@/assets/fonts/Gilroy-Medium.woff2') format('woff2'),
      url('@/assets/fonts/Gilroy-Medium.woff') format('woff'),
      url('@/assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

.primary-text-color{
  color: var(--primary-text-color);
}
.container{
  max-width: 1440px;
  margin: auto;
}